@import "../base/colors";

.first-look-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7% 0 7% 0;

    .first-look-image {
        width: 600px;
        margin: 0 5% 0 5%;

        @media (max-width: 1021px) {

            display: none;
        }
        
    }

    .first-look-info-container {
        width: 800px;
        margin: 0 5% 0 5%;
        
        .first-look-info {
            font-size: 80px;
            font-family: "Mechta";
            color: #FFF7E8;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #351003;
            display: flex;
            justify-content: center;

        }

        @media (max-width: 1021px) {

            margin: 0;
        }

        .first-look-findus-button {
            display: flex;
            justify-content: center;

            .first-look-findus {
                background-color: #FFF7E8;
                width: 200px;
                font-size: 30px;
                text-align: center;
                font-family: "Mechta";
                border: 3px solid #351003;
                border-radius: 10px;
                color: #351003;
                
            }
        }
        
    }

    @media (max-width: 1021px) {

        display: flex;
        justify-content: center;
        align-items: center;
    }
}