.navbar {
    height: 100px;
    background-color: rgb(214, 193, 174);;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .coffee-shop-logo {
        height: 50px;
        margin-left: 20px;
        
    }

    .delivery-navbar {
        margin-right: 40px;
        text-decoration: none;
        color: black;
        transition: all 0.2s ease;

        &:hover {
            scale: 1.1;
        }
    }
}